# dependencies
node_modules/

# cache
.cache/
*.tsbuildinfo

# build and test output
dist/
build/
coverage/

# editor and OS files
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# environment variables (secrets)
.env
.env.*
!.env.example

# logs
*.log
